{
    "extends": ["plugin:prettier/recommended"],
    "parser": "babel-eslint",
    "overrides": [
        {
            "files": "**/*.js",
            "excludedFiles": "**/node_modules/*"
        }
    ]
}